# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist_local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.vs
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
*.backup*
*.bak
*.tmp
*.orig*
*.qod*
*.vscode

# Ignore docs/DEVELOPMENTS folder
docs/DEVELOPMENTS/
.backups/
.zenco*
*backup*
*.bak