openapi: 3.0.3
info:
  title: Stencil CMS API
  version: 1.0.0
  description: |
    **CanvaStencil** - Multi-Tenant CMS Platform REST API
    
    ## Overview
    
    Stencil CMS adalah platform Content Management System multi-tenant dengan arsitektur 
    Hexagonal (Ports & Adapters) yang mendukung isolasi data per tenant, dynamic theming, 
    dan konfigurasi bisnis yang fleksibel.
    
    ## Architecture
    
    - **Multi-Tenancy**: Schema per Tenant (PostgreSQL)
    - **Authentication**: Laravel Sanctum (Bearer Token)
    - **Authorization**: Spatie Laravel Permission (tenant-scoped)
    - **API Versioning**: `/api/v1`
    
    ## Core Immutable Rules
    
    ⚠️ **THESE RULES MUST NEVER BE VIOLATED:**
    - ✅ Teams enabled: TRUE
    - ✅ team_foreign_key: tenant_id
    - ✅ guard_name: api
    - ✅ model_morph_key: model_uuid (UUID string)
    - ✅ Roles & Permissions: Strictly tenant-scoped
    - ❌ NO global roles (NULL tenant_id)
    
    ## Authentication
    
    All admin endpoints require Bearer token authentication:
    
    ```
    Authorization: Bearer {access_token}
    ```
    
    Public endpoints do not require authentication.
    
    ## Response Format
    
    All API responses follow this standardized format:
    
    **Success Response:**
    ```json
    {
      "success": true,
      "data": { /* response data */ },
      "message": "Operation completed successfully",
      "meta": {
        "timestamp": "2025-01-01T12:00:00Z"
      }
    }
    ```
    
    **Error Response:**
    ```json
    {
      "success": false,
      "error": {
        "code": "VALIDATION_ERROR",
        "message": "Validation failed",
        "details": { /* validation errors */ }
      },
      "meta": {
        "timestamp": "2025-01-01T12:00:00Z"
      }
    }
    ```
    
    ## Rate Limiting
    
    - Public endpoints: 60 requests per minute
    - Admin endpoints: 120 requests per minute
    
    ## Modules
    
    This API is organized into modular sections:
    
    ### Content Management
    - **Homepage** - Hero, Social Proof, Process, Services, Testimonials
    - **About Us** - Company Profile, Mission/Vision, Team, Timeline
    - **Contact** - Contact Information, Dynamic Forms, Submissions
    - **FAQ** - Categories, Q&A, Search, Analytics
    - **SEO** - Universal SEO System (Global + Per-item)
    
    ### E-Commerce
    - **Products** - Product Catalog, Categories, Variations, Custom Fields
    - **Reviews** - Product Reviews, Ratings, Approval Workflow
    - **Orders** - Purchase Orders, Payment, Status Workflow
    
    ### Operations
    - **Vendors** - Vendor Management, Purchase Orders
    - **Inventory** - Stock Management, Movements, Alerts
    - **Financial** - Revenue, Expenses, Profit/Loss Reports
    
    ### User Management
    - **Users** - User Profiles, Roles, Permissions, Customers
    
    ### System
    - **Media** - Media Library, File Upload, Folders
    - **Theme** - Theme Customization, Presets, Custom CSS
    - **Language** - Multi-language Support, Translations
    - **Documentation** - Help Center, Articles, Search
    - **Settings** - Site Configuration, Email, Integrations
    
  contact:
    name: CanvaStack Development Team
    email: dev@canvastack.com
  license:
    name: Proprietary
    url: https://canvastack.com/license

servers:
  - url: https://api.stencilcms.com/api/v1
    description: Production Server
  - url: https://staging-api.stencilcms.com/api/v1
    description: Staging Server
  - url: http://localhost:8000/api/v1
    description: Local Development Server

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Homepage
    description: Homepage/Beranda content management (Hero, Social Proof, Process, etc.)
  - name: About Us
    description: About Us/Tentang Kami content management
  - name: Contact
    description: Contact Us/Hubungi Kami with dynamic forms
  - name: FAQ
    description: Frequently Asked Questions with categories
  - name: SEO
    description: Universal SEO System (Global Settings + Per-item Meta)
  - name: Products
    description: Product catalog with categories, variations, and custom fields
  - name: Product Categories
    description: Product category management
  - name: Product Variations
    description: Product variation management
  - name: Reviews
    description: Product reviews and ratings with approval workflow
  - name: Orders
    description: Order management with payment and status workflow
  - name: Vendor Management
    description: Vendor profiles and purchase orders
  - name: Inventory Management
    description: Stock tracking, movements, and alerts
  - name: Stock Movements
    description: Stock in/out and adjustments
  - name: Financial Reports
    description: Revenue, expenses, and profit/loss reporting
  - name: User Management
    description: User profiles and authentication
  - name: Roles & Permissions
    description: Role-based access control management
  - name: Customer Management
    description: Customer profiles and order history
  - name: Media Library
    description: File upload and media management
  - name: Media Folders
    description: Media folder organization
  - name: Theme
    description: Theme customization and presets
  - name: Language
    description: Multi-language support
  - name: Translations
    description: Translation key management
  - name: Documentation
    description: Help center articles and search
  - name: Settings
    description: General system settings and configuration

security:
  - bearerAuth: []

paths:
  # Authentication Endpoints
  /auth/login:
    $ref: './modules/auth.yaml#/paths/~1auth~1login'
  /auth/register:
    $ref: './modules/auth.yaml#/paths/~1auth~1register'
  /auth/logout:
    $ref: './modules/auth.yaml#/paths/~1auth~1logout'
  /auth/me:
    $ref: './modules/auth.yaml#/paths/~1auth~1me'
  
  # Homepage Module
  /pages/home:
    $ref: './modules/homepage.yaml#/paths/~1pages~1home'
  /admin/pages/home:
    $ref: './modules/homepage.yaml#/paths/~1admin~1pages~1home'
  /admin/pages/home/hero:
    $ref: './modules/homepage.yaml#/paths/~1admin~1pages~1home~1hero'
  /admin/pages/home/social-proof:
    $ref: './modules/homepage.yaml#/paths/~1admin~1pages~1home~1social-proof'
  /admin/pages/home/process:
    $ref: './modules/homepage.yaml#/paths/~1admin~1pages~1home~1process'
  /admin/pages/home/why-choose-us:
    $ref: './modules/homepage.yaml#/paths/~1admin~1pages~1home~1why-choose-us'
  /admin/pages/home/achievements:
    $ref: './modules/homepage.yaml#/paths/~1admin~1pages~1home~1achievements'
  /admin/pages/home/services:
    $ref: './modules/homepage.yaml#/paths/~1admin~1pages~1home~1services'
  /admin/pages/home/testimonials:
    $ref: './modules/homepage.yaml#/paths/~1admin~1pages~1home~1testimonials'
  /admin/pages/home/cta:
    $ref: './modules/homepage.yaml#/paths/~1admin~1pages~1home~1cta'
  
  # About Us Module
  /pages/about:
    $ref: './modules/about.yaml#/paths/~1pages~1about'
  /admin/pages/about:
    $ref: './modules/about.yaml#/paths/~1admin~1pages~1about'
  /admin/pages/about/company-info:
    $ref: './modules/about.yaml#/paths/~1admin~1pages~1about~1company-info'
  /admin/pages/about/mission-vision:
    $ref: './modules/about.yaml#/paths/~1admin~1pages~1about~1mission-vision'
  /admin/pages/about/values:
    $ref: './modules/about.yaml#/paths/~1admin~1pages~1about~1values'
  /admin/pages/about/team:
    $ref: './modules/about.yaml#/paths/~1admin~1pages~1about~1team'
  /admin/pages/about/timeline:
    $ref: './modules/about.yaml#/paths/~1admin~1pages~1about~1timeline'
  
  # Contact Module
  /pages/contact:
    $ref: './modules/contact.yaml#/paths/~1pages~1contact'
  /contact/submit:
    $ref: './modules/contact.yaml#/paths/~1contact~1submit'
  /admin/pages/contact:
    $ref: './modules/contact.yaml#/paths/~1admin~1pages~1contact'
  /admin/contact/forms:
    $ref: './modules/contact.yaml#/paths/~1admin~1contact~1forms'
  /admin/contact/submissions:
    $ref: './modules/contact.yaml#/paths/~1admin~1contact~1submissions'
  
  # FAQ Module
  /faq:
    $ref: './modules/faq.yaml#/paths/~1faq'
  /faq/categories:
    $ref: './modules/faq.yaml#/paths/~1faq~1categories'
  /faq/search:
    $ref: './modules/faq.yaml#/paths/~1faq~1search'
  /admin/faq/categories:
    $ref: './modules/faq.yaml#/paths/~1admin~1faq~1categories'
  /admin/faq/questions:
    $ref: './modules/faq.yaml#/paths/~1admin~1faq~1questions'
  
  # SEO Module
  /seo:
    $ref: './modules/seo.yaml#/paths/~1seo'
  /sitemap.xml:
    $ref: './modules/seo.yaml#/paths/~1sitemap.xml'
  /robots.txt:
    $ref: './modules/seo.yaml#/paths/~1robots.txt'
  /admin/seo/settings:
    $ref: './modules/seo.yaml#/paths/~1admin~1seo~1settings'
  /admin/seo/{type}/{id}:
    $ref: './modules/seo.yaml#/paths/~1admin~1seo~1{type}~1{id}'
  
  # Products Module
  /products:
    $ref: './modules/products.yaml#/paths/~1api~1v1~1products'
  /products/{id}:
    $ref: './modules/products.yaml#/paths/~1api~1v1~1products~1{id}'
  /admin/products:
    $ref: './modules/products.yaml#/paths/~1api~1v1~1admin~1products'
  /products/categories:
    $ref: './modules/products.yaml#/paths/~1api~1v1~1products~1categories'
  /products/categories/{id}:
    $ref: './modules/products.yaml#/paths/~1api~1v1~1products~1categories~1{id}'
  /products/{id}/variations:
    $ref: './modules/products.yaml#/paths/~1api~1v1~1products~1{id}~1variations'
  /products/variations/{variationId}:
    $ref: './modules/products.yaml#/paths/~1api~1v1~1products~1variations~1{variationId}'
  
  # Reviews Module
  /products/{productId}/reviews:
    $ref: './modules/reviews.yaml#/paths/~1api~1v1~1products~1{productId}~1reviews'
  /reviews/{id}:
    $ref: './modules/reviews.yaml#/paths/~1api~1v1~1reviews~1{id}'
  /reviews/{id}/helpful:
    $ref: './modules/reviews.yaml#/paths/~1api~1v1~1reviews~1{id}~1helpful'
  /admin/reviews:
    $ref: './modules/reviews.yaml#/paths/~1api~1v1~1admin~1reviews'
  /admin/reviews/{id}/approve:
    $ref: './modules/reviews.yaml#/paths/~1api~1v1~1admin~1reviews~1{id}~1approve'
  /admin/reviews/{id}/reject:
    $ref: './modules/reviews.yaml#/paths/~1api~1v1~1admin~1reviews~1{id}~1reject'
  /admin/reviews/{id}/response:
    $ref: './modules/reviews.yaml#/paths/~1api~1v1~1admin~1reviews~1{id}~1response'
  
  # Orders Module
  /orders:
    $ref: './modules/orders.yaml#/paths/~1api~1v1~1orders'
  /orders/my:
    $ref: './modules/orders.yaml#/paths/~1api~1v1~1orders~1my'
  /orders/{id}:
    $ref: './modules/orders.yaml#/paths/~1api~1v1~1orders~1{id}'
  /orders/{id}/cancel:
    $ref: './modules/orders.yaml#/paths/~1api~1v1~1orders~1{id}~1cancel'
  /admin/orders:
    $ref: './modules/orders.yaml#/paths/~1api~1v1~1admin~1orders'
  /admin/orders/{id}:
    $ref: './modules/orders.yaml#/paths/~1api~1v1~1admin~1orders~1{id}'
  /admin/orders/{id}/status:
    $ref: './modules/orders.yaml#/paths/~1api~1v1~1admin~1orders~1{id}~1status'
  /admin/orders/{id}/payment:
    $ref: './modules/orders.yaml#/paths/~1api~1v1~1admin~1orders~1{id}~1payment'
  /admin/orders/{id}/notes:
    $ref: './modules/orders.yaml#/paths/~1api~1v1~1admin~1orders~1{id}~1notes'
  
  # Vendors Module
  /admin/vendors:
    $ref: './modules/vendors.yaml#/paths/~1api~1v1~1admin~1vendors'
  /admin/vendors/{id}:
    $ref: './modules/vendors.yaml#/paths/~1api~1v1~1admin~1vendors~1{id}'
  /admin/vendors/{id}/products:
    $ref: './modules/vendors.yaml#/paths/~1api~1v1~1admin~1vendors~1{id}~1products'
  /admin/vendors/{id}/orders:
    $ref: './modules/vendors.yaml#/paths/~1api~1v1~1admin~1vendors~1{id}~1orders'
  
  # Inventory Module
  /admin/inventory:
    $ref: './modules/inventory.yaml#/paths/~1api~1v1~1admin~1inventory'
  /admin/inventory/{productId}:
    $ref: './modules/inventory.yaml#/paths/~1api~1v1~1admin~1inventory~1{productId}'
  /admin/inventory/movements:
    $ref: './modules/inventory.yaml#/paths/~1api~1v1~1admin~1inventory~1movements'
  /admin/inventory/alerts:
    $ref: './modules/inventory.yaml#/paths/~1api~1v1~1admin~1inventory~1alerts'
  
  # Financial Module
  /admin/financial/dashboard:
    $ref: './modules/financial.yaml#/paths/~1api~1v1~1admin~1financial~1dashboard'
  /admin/financial/revenue:
    $ref: './modules/financial.yaml#/paths/~1api~1v1~1admin~1financial~1revenue'
  /admin/financial/expenses:
    $ref: './modules/financial.yaml#/paths/~1api~1v1~1admin~1financial~1expenses'
  /admin/financial/expenses/{id}:
    $ref: './modules/financial.yaml#/paths/~1api~1v1~1admin~1financial~1expenses~1{id}'
  /admin/financial/profit-loss:
    $ref: './modules/financial.yaml#/paths/~1api~1v1~1admin~1financial~1profit-loss'
  /admin/financial/export:
    $ref: './modules/financial.yaml#/paths/~1api~1v1~1admin~1financial~1export'
  
  # Users Module
  /admin/users:
    $ref: './modules/users.yaml#/paths/~1api~1v1~1admin~1users'
  /admin/users/{id}:
    $ref: './modules/users.yaml#/paths/~1api~1v1~1admin~1users~1{id}'
  /admin/users/{id}/suspend:
    $ref: './modules/users.yaml#/paths/~1api~1v1~1admin~1users~1{id}~1suspend'
  /admin/users/{id}/activate:
    $ref: './modules/users.yaml#/paths/~1api~1v1~1admin~1users~1{id}~1activate'
  /admin/roles:
    $ref: './modules/users.yaml#/paths/~1api~1v1~1admin~1roles'
  /admin/roles/{id}:
    $ref: './modules/users.yaml#/paths/~1api~1v1~1admin~1roles~1{id}'
  /admin/permissions:
    $ref: './modules/users.yaml#/paths/~1api~1v1~1admin~1permissions'
  /admin/customers:
    $ref: './modules/users.yaml#/paths/~1api~1v1~1admin~1customers'
  /admin/customers/{id}:
    $ref: './modules/users.yaml#/paths/~1api~1v1~1admin~1customers~1{id}'
  
  # Media Module
  /media:
    $ref: './modules/media.yaml#/paths/~1api~1v1~1media'
  /media/{id}:
    $ref: './modules/media.yaml#/paths/~1api~1v1~1media~1{id}'
  /media/folders:
    $ref: './modules/media.yaml#/paths/~1api~1v1~1media~1folders'
  /media/folders/{id}:
    $ref: './modules/media.yaml#/paths/~1api~1v1~1media~1folders~1{id}'
  
  # Theme Module
  /theme/current:
    $ref: './modules/theme.yaml#/paths/~1api~1v1~1theme~1current'
  /admin/theme:
    $ref: './modules/theme.yaml#/paths/~1api~1v1~1admin~1theme'
  /admin/theme/reset:
    $ref: './modules/theme.yaml#/paths/~1api~1v1~1admin~1theme~1reset'
  /admin/theme/presets:
    $ref: './modules/theme.yaml#/paths/~1api~1v1~1admin~1theme~1presets'
  /admin/theme/presets/{id}/apply:
    $ref: './modules/theme.yaml#/paths/~1api~1v1~1admin~1theme~1presets~1{id}~1apply'
  /admin/theme/custom-css:
    $ref: './modules/theme.yaml#/paths/~1api~1v1~1admin~1theme~1custom-css'
  
  # Language Module
  /languages:
    $ref: './modules/language.yaml#/paths/~1api~1v1~1languages'
  /translations/{locale}:
    $ref: './modules/language.yaml#/paths/~1api~1v1~1translations~1{locale}'
  /admin/languages:
    $ref: './modules/language.yaml#/paths/~1api~1v1~1admin~1languages'
  /admin/languages/{locale}:
    $ref: './modules/language.yaml#/paths/~1api~1v1~1admin~1languages~1{locale}'
  /admin/translations:
    $ref: './modules/language.yaml#/paths/~1api~1v1~1admin~1translations'
  /admin/translations/{id}:
    $ref: './modules/language.yaml#/paths/~1api~1v1~1admin~1translations~1{id}'
  /admin/translations/import:
    $ref: './modules/language.yaml#/paths/~1api~1v1~1admin~1translations~1import'
  /admin/translations/export:
    $ref: './modules/language.yaml#/paths/~1api~1v1~1admin~1translations~1export'
  
  # Documentation Module
  /docs/articles:
    $ref: './modules/documentation.yaml#/paths/~1api~1v1~1docs~1articles'
  /docs/articles/{slug}:
    $ref: './modules/documentation.yaml#/paths/~1api~1v1~1docs~1articles~1{slug}'
  /docs/categories:
    $ref: './modules/documentation.yaml#/paths/~1api~1v1~1docs~1categories'
  /docs/search:
    $ref: './modules/documentation.yaml#/paths/~1api~1v1~1docs~1search'
  /admin/docs/articles:
    $ref: './modules/documentation.yaml#/paths/~1api~1v1~1admin~1docs~1articles'
  /admin/docs/articles/{id}:
    $ref: './modules/documentation.yaml#/paths/~1api~1v1~1admin~1docs~1articles~1{id}'
  /admin/docs/categories:
    $ref: './modules/documentation.yaml#/paths/~1api~1v1~1admin~1docs~1categories'
  /admin/docs/categories/{id}:
    $ref: './modules/documentation.yaml#/paths/~1api~1v1~1admin~1docs~1categories~1{id}'
  
  # Settings Module
  /settings/public:
    $ref: './modules/settings.yaml#/paths/~1api~1v1~1settings~1public'
  /admin/settings:
    $ref: './modules/settings.yaml#/paths/~1api~1v1~1admin~1settings'
  /admin/settings/site:
    $ref: './modules/settings.yaml#/paths/~1api~1v1~1admin~1settings~1site'
  /admin/settings/email:
    $ref: './modules/settings.yaml#/paths/~1api~1v1~1admin~1settings~1email'
  /admin/settings/email/test:
    $ref: './modules/settings.yaml#/paths/~1api~1v1~1admin~1settings~1email~1test'
  /admin/settings/integrations:
    $ref: './modules/settings.yaml#/paths/~1api~1v1~1admin~1settings~1integrations'
  /admin/settings/maintenance:
    $ref: './modules/settings.yaml#/paths/~1api~1v1~1admin~1settings~1maintenance'
  /admin/settings/cache/clear:
    $ref: './modules/settings.yaml#/paths/~1api~1v1~1admin~1settings~1cache~1clear'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Laravel Sanctum Bearer Token authentication.
        
        **How to obtain token:**
        1. POST /api/v1/auth/login with credentials
        2. Receive token in response
        3. Use token in Authorization header: `Bearer {token}`
        
        **Token format:**
        ```
        Authorization: Bearer 1|abcdefghijklmnopqrstuvwxyz123456789
        ```

  # Common schemas are defined in separate files
  schemas:
    # Standard Response Wrappers
    SuccessResponse:
      $ref: './components/schemas/common.yaml#/SuccessResponse'
    ErrorResponse:
      $ref: './components/schemas/common.yaml#/ErrorResponse'
    ValidationErrorResponse:
      $ref: './components/schemas/common.yaml#/ValidationErrorResponse'
    PaginationMeta:
      $ref: './components/schemas/common.yaml#/PaginationMeta'
    
    # Common Field Types
    Timestamps:
      $ref: './components/schemas/common.yaml#/Timestamps'
    UUID:
      $ref: './components/schemas/common.yaml#/UUID'
    PublishStatus:
      $ref: './components/schemas/common.yaml#/PublishStatus'
  
  # Common Responses
  responses:
    Unauthorized:
      $ref: './components/responses/common.yaml#/Unauthorized'
    Forbidden:
      $ref: './components/responses/common.yaml#/Forbidden'
    NotFound:
      $ref: './components/responses/common.yaml#/NotFound'
    ValidationError:
      $ref: './components/responses/common.yaml#/ValidationError'
    ServerError:
      $ref: './components/responses/common.yaml#/ServerError'
  
  # Common Parameters
  parameters:
    PageQuery:
      $ref: './components/parameters/common.yaml#/PageQuery'
    PerPageQuery:
      $ref: './components/parameters/common.yaml#/PerPageQuery'
    SearchQuery:
      $ref: './components/parameters/common.yaml#/SearchQuery'
    SortQuery:
      $ref: './components/parameters/common.yaml#/SortQuery'
    FilterQuery:
      $ref: './components/parameters/common.yaml#/FilterQuery'
    TenantIdHeader:
      $ref: './components/parameters/common.yaml#/TenantIdHeader'